In [2]:
import json
import requests
import pandas as pd

In [28]:
response = requests.get('http://api.dataatwork.org/v1/jobs')

json_data = response.json()

json_data[0:5]

[{'uuid': '26bc4486dfd0f60b3bb0d8d64e001800',
  'title': '1st Grade Teacher',
  'normalized_job_title': '1st grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': '9be6e14491305132c175cb1781a3356c',
  'title': '1st Pressman',
  'normalized_job_title': '1st pressman',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': 'd38d16bab3f9f25ae34ae3e2aad254d4',
  'title': '1st Pressman On Web Press',
  'normalized_job_title': '1st pressman on web press',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': '8576a78b5c1cae3a567ca7fd34500357',
  'title': '21 Dealer',
  'normalized_job_title': '21 dealer',
  'parent_uuid': '4be080220c824dcb435d59ebf1c3ce80'},
 {'uuid': 'a59278d7f653db37e54a270345a91a05',
  'title': '2nd Grade Teacher',
  'normalized_job_title': '2nd grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'}]

In [29]:
useful_data = data[['uuid', 'normalized_job_title']]
useful_data

                                uuid               normalized_job_title
0   26bc4486dfd0f60b3bb0d8d64e001800                  1st grade teacher
1   9be6e14491305132c175cb1781a3356c                       1st pressman
2   d38d16bab3f9f25ae34ae3e2aad254d4          1st pressman on web press
3   8576a78b5c1cae3a567ca7fd34500357                          21 dealer
4   a59278d7f653db37e54a270345a91a05                  2nd grade teacher
5   9c631442c4966cd3e5a9e52fc70aff1c                       2nd pressman
6   f5a2151d370ebca7b49778e036a287e8      2 year olds preschool teacher
7   af2e31c2c64ae223b06eb7f0cbf59a98                        3d animator
8   ac029293b0ea43f168b004c4f04fca31                          3d artist
9   7d37dfe2eface4ae79db093b0a79385d                        3d designer
10  6cb0a6786c08d6c91a4fc9f61e19f62d                         3d modeler
11  ec45194ae348e1bb21415064364f038b                      3d specialist
12  4266e89fcaf06973fa23fc6f75b27682                    3d technologist
13  0cfb09fa1c6691fd6d77a3d3743fa8bc          3rd grade reading teacher
14  ac668f6dc8795ace795b2c1f7c889ba4                  3rd grade teacher
15  7826ba3a7150817935915f63b861936b                       3rd pressman
16  90bc1d89aaee33a96c1b70fef0750d62  411 directory assistance operator
17  814eb6844cf824e6945fb02a48f0e569    4h youth development specialist
18  772053d8bb2c6e127b0bf216e50285ed             4th grade math teacher
19  de0a3e90cdd112dd78120d4c8a9422b2                  4th grade teacher
20                               NaN                                NaN

In [30]:
data = pd.DataFrame(json_data)
data.info

<bound method DataFrame.info of                                 uuid                              title  \
0   26bc4486dfd0f60b3bb0d8d64e001800                  1st Grade Teacher
1   9be6e14491305132c175cb1781a3356c                       1st Pressman
2   d38d16bab3f9f25ae34ae3e2aad254d4          1st Pressman On Web Press
3   8576a78b5c1cae3a567ca7fd34500357                          21 Dealer
4   a59278d7f653db37e54a270345a91a05                  2nd Grade Teacher
5   9c631442c4966cd3e5a9e52fc70aff1c                       2nd Pressman
6   f5a2151d370ebca7b49778e036a287e8      2 Year Olds Preschool Teacher
7   af2e31c2c64ae223b06eb7f0cbf59a98                        3D Animator
8   ac029293b0ea43f168b004c4f04fca31                          3D Artist
9   7d37dfe2eface4ae79db093b0a79385d                        3D Designer
10  6cb0a6786c08d6c91a4fc9f61e19f62d                         3D Modeler
11  ec45194ae348e1bb21415064364f038b                      3D Specialist
12  4266e89fcaf06973fa23fc6f75b27682                    3D Technologist
13  0cfb09fa1c6691fd6d77a3d3743fa8bc          3rd Grade Reading Teacher
14  ac668f6dc8795ace795b2c1f7c889ba4                  3rd Grade Teacher
15  7826ba3a7150817935915f63b861936b                       3rd Pressman
16  90bc1d89aaee33a96c1b70fef0750d62  411 Directory Assistance Operator
17  814eb6844cf824e6945fb02a48f0e569   4-H Youth Development Specialist
18  772053d8bb2c6e127b0bf216e50285ed             4th Grade Math Teacher
19  de0a3e90cdd112dd78120d4c8a9422b2                  4th Grade Teacher
20                               NaN                                NaN

                 normalized_job_title                       parent_uuid  \
0                   1st grade teacher  51cc95467c1844c7dc1d923265c023b2
1                        1st pressman  96f1cf15fe5880d8660c70f0756944ab
2           1st pressman on web press  96f1cf15fe5880d8660c70f0756944ab
3                           21 dealer  4be080220c824dcb435d59ebf1c3ce80
4                   2nd grade teacher  51cc95467c1844c7dc1d923265c023b2
5                        2nd pressman  96f1cf15fe5880d8660c70f0756944ab
6       2 year olds preschool teacher  d78b3ba8b749686d739480ee77f9e219
7                         3d animator  caa551520f21c7c220716a8f82806246
8                           3d artist  caa551520f21c7c220716a8f82806246
9                         3d designer  caa551520f21c7c220716a8f82806246
10                         3d modeler  caa551520f21c7c220716a8f82806246
11                      3d specialist  caa551520f21c7c220716a8f82806246
12                    3d technologist  ce1c0fc273d3c803e94a73ff0b54816e
13          3rd grade reading teacher  51cc95467c1844c7dc1d923265c023b2
14                  3rd grade teacher  51cc95467c1844c7dc1d923265c023b2
15                       3rd pressman  96f1cf15fe5880d8660c70f0756944ab
16  411 directory assistance operator  f0fc66d367f370fa64da4780019702cd
17    4h youth development specialist  1028b80a2ce2bfb940b2198f487c6abb
18             4th grade math teacher  51cc95467c1844c7dc1d923265c023b2
19                  4th grade teacher  51cc95467c1844c7dc1d923265c023b2
20                                NaN                               NaN

                                                links
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20  [{'rel': 'self', 'href': '/jobs?offset=0&limit...  >

In [6]:
test = requests.get('http://api.dataatwork.org/v1/jobs?offset=50&limit=50')
test_data = test.json()

In [23]:
test_data['normalized_job_title'].title()

'Automatic Data Processing Planner'

In [ ]:
#8a7a3f1bce0958ae9f090683e5a925b7

In [25]:
#Defining jobs: x is for job-uuid

def jobs_requests(x):
    
    if x != None:
        url = "http://api.dataatwork.org/v1/jobs/" + x
        jrequest = requests.get(url)
        job_title_json = request.json()
        job_title = job_title_json['normalized_job_title'].title()
               
        return job_title
    
    else:
        pass

In [40]:
url = 'http://api.dataatwork.org/v1/jobs'

response = requests.get(url)
all_jobs = response.json()
df_jobs = pd.DataFrame(all_jobs)
len(df_jobs.index)

21

In [41]:
list_apit = []

for i in df_jobs['normalized_job_title']:
    url = f'http://api.dataatwork.org/v1/jobs/{i}'
    response = requests.get(url)
    result_jobs = response.json()
    list.append(result_jobs)

print(list_apit)

NameError: name 'df_all_row_data' is not defined

In [6]:
12/67*100

17.91044776119403

In [ ]:
Data Analyst, Data Coordinator