In [1]:
import pandas as pd
import sqlalchemy
import sqlite3
import requests
from bs4 import BeautifulSoup
import re
import json

In [2]:
%load_ext sql
%config SqlMagic.autocommit = False
%sql sqlite:///../data/raw/raw_data_project_m1.db

In [3]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

personal = pd.read_sql_table(table_name='personal_info', con=enn)

personal.head(4)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65

In [4]:
personal['age'] =  personal['age'].apply(lambda x: re.sub('\D', '', x)).astype(int)

In [5]:
#from datetime import datetime

def agefunc(x):
    #today = datetime.today().year
    y = 0
    if x <= 1000:
        pass
    else:
        y = 2016 - x
        return y

In [6]:
m = personal['age'] <= 1000
personal['age'] = personal['age'].where(m, personal['age'].apply(agefunc))
personal.head()

                                   uuid  age gender dem_has_children age_group
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82   61   male               NO     40_65
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82   57   male              yES     40_65
2  83127080-da3d-0133-c74f-0a81e8b09a82   32   male               nO     26_39
3  15626d40-db13-0133-ea5c-0a81e8b09a82   45   Male              YES     40_65
4  24954a70-db98-0133-4a64-0a81e8b09a82   41    Fem              yES     40_65

In [7]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

career = pd.read_sql_table(table_name='career_info', con=enn)

career.head(4)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c

In [8]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

country = pd.read_sql_table(table_name='country_info', con=enn)

country.head(4)

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country

In [9]:
enn = sqlalchemy.create_engine('sqlite:///../data/raw/raw_data_project_m1.db')

poll = pd.read_sql_table(table_name='poll_info', con=enn)

poll.head(4)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above

In [10]:
total_data = pd.merge(personal, career, on='uuid')
total_data2 = pd.merge(total_data, country, on='uuid')
glob_data = pd.merge(total_data2, poll, on='uuid')
glob_data.head(5)

,uuid,age,gender,dem_has_children,age_group,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,male,NO,40_65,no,no,None,AT,countryside,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,male,yES,40_65,high,yes,861a9b9151e11362eb3c77ca914172d0,AT,urban,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,male,nO,26_39,None,no,None,AT,city,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,Male,YES,40_65,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,AT,Country,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,Fem,yES,40_65,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,AT,city,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [11]:
#import os
#glob_data.to_csv(f'../data/processed/glob_data.csv', index=False)

In [12]:
relevant_data = glob_data[['uuid', 'age', 'country_code', 'normalized_job_code']]
relevant_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 4 columns):
uuid                   9649 non-null object
age                    9649 non-null int64
country_code           9649 non-null object
normalized_job_code    5702 non-null object
dtypes: int64(1), object(3)
memory usage: 376.9+ KB

In [13]:
relevant_data.dropna(inplace=True)

/home/sergio/miniconda3/envs/lab_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
relevant_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5702 entries, 1 to 9648
Data columns (total 4 columns):
uuid                   5702 non-null object
age                    5702 non-null int64
country_code           5702 non-null object
normalized_job_code    5702 non-null object
dtypes: int64(1), object(3)
memory usage: 222.7+ KB

In [38]:
relevant_data.head()

,uuid,age,country_code,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,AT,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,AT,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,AT,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,AT,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,AT,f4b2fb1aa40f661488e2782b6d57ad2f

In [15]:
def finding_job(relevant_data, job_title):
    
    #inserted_job = 'Data Scientist'
    
    for code in relevant_data['normalized_job_code']:
        url = f'http://api.dataatwork.org/v1/jobs/' + code
        print(url)
        response = requests.get(url).json()

        if response['title'] == job_title:
            value = response['uuid']
            break
            
    return {job_title: value}

In [16]:
data_job = finding_job(relevant_data, 'Data Scientist')

http://api.dataatwork.org/v1/jobs/861a9b9151e11362eb3c77ca914172d0
http://api.dataatwork.org/v1/jobs/049a3f3a2b5f85cb2971ba77ad66e10c
http://api.dataatwork.org/v1/jobs/f4b2fb1aa40f661488e2782b6d57ad2f
http://api.dataatwork.org/v1/jobs/27af8700f5577cec835acee2cb90a2ff
http://api.dataatwork.org/v1/jobs/c1b670eba9ccb65e7c99f7da116d5b9c
http://api.dataatwork.org/v1/jobs/d71c4164c99a5f9bca773e755a72f40f
http://api.dataatwork.org/v1/jobs/2ee80cf30e2483dfe0947adc0428f8c5
http://api.dataatwork.org/v1/jobs/897ef18a9321616495831a4b4b0c1bb2
http://api.dataatwork.org/v1/jobs/a003702c0cea282e17967772dd83de5e
http://api.dataatwork.org/v1/jobs/04c82eae29e1c4a30eac0710b74ab276
http://api.dataatwork.org/v1/jobs/fcaf4aac737e53ad24b9f32f08b8740f
http://api.dataatwork.org/v1/jobs/d71c4164c99a5f9bca773e755a72f40f
http://api.dataatwork.org/v1/jobs/3833bd699e7afe4665b595f282da0387
http://api.dataatwork.org/v1/jobs/19e384e977796c25780d8c28b12089c4
http://api.dataatwork.org/v1/jobs/474b962c13632a04e42a546be4f11dbb
http://api.dataatwork.org/v1/jobs/dac2e921c1f887d9efc4c06fa33c1397
http://api.dataatwork.org/v1/jobs/996da29c84f5eed00da40c230f4c4078
http://api.dataatwork.org/v1/jobs/fcaf4aac737e53ad24b9f32f08b8740f
http://api.dataatwork.org/v1/jobs/d71c4164c99a5f9bca773e755a72f40f
http://api.dataatwork.org/v1/jobs/cc2b26cc436bea36bda3bdd7367c411a
http://api.dataatwork.org/v1/jobs/25fe195cbf915c0824fa6c44e6d0008c
http://api.dataatwork.org/v1/jobs/76385cb24e831b3364279b9de5641d8f
http://api.dataatwork.org/v1/jobs/16b67d7f57698455aefbc1ae1b358b50
http://api.dataatwork.org/v1/jobs/b24ece3300d2f8ab34f9553e531183d6
http://api.dataatwork.org/v1/jobs/5db2c8d6539f983e1ca3d7c5b939e190
http://api.dataatwork.org/v1/jobs/861a9b9151e11362eb3c77ca914172d0
http://api.dataatwork.org/v1/jobs/36675c937946c8a4fc5de7d0b4c850de
http://api.dataatwork.org/v1/jobs/847165cfda6b1dc82ae22b967da8af2f
http://api.dataatwork.org/v1/jobs/2ca138b991c50dc6696238e5ad800142
http://api.dataatwork.org/v1/jobs/16b67d7f57698455aefbc1ae1b358b50
http://api.dataatwork.org/v1/jobs/36675c937946c8a4fc5de7d0b4c850de
http://api.dataatwork.org/v1/jobs/36675c937946c8a4fc5de7d0b4c850de
http://api.dataatwork.org/v1/jobs/cc2b26cc436bea36bda3bdd7367c411a
http://api.dataatwork.org/v1/jobs/fcaf4aac737e53ad24b9f32f08b8740f
http://api.dataatwork.org/v1/jobs/049a3f3a2b5f85cb2971ba77ad66e10c
http://api.dataatwork.org/v1/jobs/775190277a849cba701b306a7b374c0a
http://api.dataatwork.org/v1/jobs/022d0e3a40aa3e29bca6851542b27842
http://api.dataatwork.org/v1/jobs/375017ea3a1a97f5ea676def873bb25b
http://api.dataatwork.org/v1/jobs/1dd2fdc8a3981f2a1d8f0ca173952bb8
http://api.dataatwork.org/v1/jobs/e605336f5a43949cb6b18054fd1937f1
http://api.dataatwork.org/v1/jobs/800b621aab5dac18f4caef621fa43a49
http://api.dataatwork.org/v1/jobs/d06dfb43c95b585a89ae556c9221b573
http://api.dataatwork.org/v1/jobs/a12a16280e22220f9354333f6fe1b22a
http://api.dataatwork.org/v1/jobs/477b53ef09d37f098d5ed74f47fcbaec
http://api.dataatwork.org/v1/jobs/e2f68bf748aea2c7d2254550c0c92b23
http://api.dataatwork.org/v1/jobs/45033f83b6e0309eca9bcd76917f15d0
http://api.dataatwork.org/v1/jobs/141ddda0f613da65a280521247de0e9f
http://api.dataatwork.org/v1/jobs/3ddea1b52e520996e4ec9fb70dc8b86b
http://api.dataatwork.org/v1/jobs/6408c0d7c7faa4ced47fbc8474698126
http://api.dataatwork.org/v1/jobs/07b7555fa790debaf5b04d1409ad5f11
http://api.dataatwork.org/v1/jobs/36675c937946c8a4fc5de7d0b4c850de
http://api.dataatwork.org/v1/jobs/d71c4164c99a5f9bca773e755a72f40f
http://api.dataatwork.org/v1/jobs/a4d5b8b38f9513825d0d94a981ebe962
http://api.dataatwork.org/v1/jobs/5e93fd1a58c8a67b295f69d87d1a940d
http://api.dataatwork.org/v1/jobs/897ef18a9321616495831a4b4b0c1bb2
http://api.dataatwork.org/v1/jobs/122f24bc911a79c26ca66210557dda07
http://api.dataatwork.org/v1/jobs/36675c937946c8a4fc5de7d0b4c850de
http://api.dataatwork.org/v1/jobs/19e384e977796c25780d8c28b12089c4
http://api.dataatwork.org/v1/jobs/76b0ba6af40991629e20dff36edd02a5
http://api.dataatwork.org/v1/jobs/07b7555fa790debaf5b04d1409ad5f11
http://api.dataatwork.org/v1/jobs/76385cb24e831b3364279b9de5641d8f
http://api.dataatwork.org/v1/jobs/775190277a849cba701b306a7b374c0a
http://api.dataatwork.org/v1/jobs/970eb38c7b3eb080466052ea994af189
http://api.dataatwork.org/v1/jobs/477b53ef09d37f098d5ed74f47fcbaec
http://api.dataatwork.org/v1/jobs/cc2b26cc436bea36bda3bdd7367c411a
http://api.dataatwork.org/v1/jobs/2ca138b991c50dc6696238e5ad800142
http://api.dataatwork.org/v1/jobs/cf2d4db3c258faa2499bdeeeed6721a5
http://api.dataatwork.org/v1/jobs/a003702c0cea282e17967772dd83de5e
http://api.dataatwork.org/v1/jobs/dac2e921c1f887d9efc4c06fa33c1397
http://api.dataatwork.org/v1/jobs/90c5430dbc810aec8695af2f1f4c42e8
http://api.dataatwork.org/v1/jobs/7bb15eefb19ed09c59349baad7e8469e
http://api.dataatwork.org/v1/jobs/ec3d88b2fd083b870b8c5a603898ed39
http://api.dataatwork.org/v1/jobs/1f8576bdffa64f492405d02b842c41a6
http://api.dataatwork.org/v1/jobs/07b7555fa790debaf5b04d1409ad5f11
http://api.dataatwork.org/v1/jobs/edc64316da9707432443c7a4461abe6c
http://api.dataatwork.org/v1/jobs/847165cfda6b1dc82ae22b967da8af2f
http://api.dataatwork.org/v1/jobs/5e93fd1a58c8a67b295f69d87d1a940d
http://api.dataatwork.org/v1/jobs/6cf4d336112984368f83181ac5ffe948
http://api.dataatwork.org/v1/jobs/e2f68bf748aea2c7d2254550c0c92b23
http://api.dataatwork.org/v1/jobs/07b7555fa790debaf5b04d1409ad5f11
http://api.dataatwork.org/v1/jobs/d4624ed8068d24948e18303212593cd6
http://api.dataatwork.org/v1/jobs/1a281bf4bd1fe9b2a6e464e508bea167
http://api.dataatwork.org/v1/jobs/5db2c8d6539f983e1ca3d7c5b939e190
http://api.dataatwork.org/v1/jobs/800b621aab5dac18f4caef621fa43a49
http://api.dataatwork.org/v1/jobs/2f704538f6c9d6459a97314be98124e2
http://api.dataatwork.org/v1/jobs/d4624ed8068d24948e18303212593cd6
http://api.dataatwork.org/v1/jobs/edc64316da9707432443c7a4461abe6c
http://api.dataatwork.org/v1/jobs/76b0ba6af40991629e20dff36edd02a5
http://api.dataatwork.org/v1/jobs/04c82eae29e1c4a30eac0710b74ab276
http://api.dataatwork.org/v1/jobs/a4d5b8b38f9513825d0d94a981ebe962
http://api.dataatwork.org/v1/jobs/3161063d378eecc4581c5cdee46a2a6c
http://api.dataatwork.org/v1/jobs/781f5d3a80812531fdc81125a527a626
http://api.dataatwork.org/v1/jobs/781f5d3a80812531fdc81125a527a626
http://api.dataatwork.org/v1/jobs/38a15ceadcdd6d4db16a88fa1a72b083
http://api.dataatwork.org/v1/jobs/5e93fd1a58c8a67b295f69d87d1a940d
http://api.dataatwork.org/v1/jobs/e55556364d2096578fd153e9800e826f
http://api.dataatwork.org/v1/jobs/d24ffac92c24fb0e7bd1abc5fc3b6254
http://api.dataatwork.org/v1/jobs/edc64316da9707432443c7a4461abe6c
http://api.dataatwork.org/v1/jobs/b24ece3300d2f8ab34f9553e531183d6
http://api.dataatwork.org/v1/jobs/04c82eae29e1c4a30eac0710b74ab276
http://api.dataatwork.org/v1/jobs/861a9b9151e11362eb3c77ca914172d0
http://api.dataatwork.org/v1/jobs/049a3f3a2b5f85cb2971ba77ad66e10c
http://api.dataatwork.org/v1/jobs/ccd7528fb38f16077360c5b67c9700c4
http://api.dataatwork.org/v1/jobs/3ddea1b52e520996e4ec9fb70dc8b86b
http://api.dataatwork.org/v1/jobs/f6fbd9dea1fa8f899683ade8e7d87d60
http://api.dataatwork.org/v1/jobs/0de6170ccbed08e62b2e5862d5846a43
http://api.dataatwork.org/v1/jobs/996da29c84f5eed00da40c230f4c4078
http://api.dataatwork.org/v1/jobs/477b53ef09d37f098d5ed74f47fcbaec
http://api.dataatwork.org/v1/jobs/dac2e921c1f887d9efc4c06fa33c1397
http://api.dataatwork.org/v1/jobs/a4d5b8b38f9513825d0d94a981ebe962
http://api.dataatwork.org/v1/jobs/499f9d9b6722342608656559b15abd90
http://api.dataatwork.org/v1/jobs/d06dfb43c95b585a89ae556c9221b573
http://api.dataatwork.org/v1/jobs/c1b670eba9ccb65e7c99f7da116d5b9c
http://api.dataatwork.org/v1/jobs/76b0ba6af40991629e20dff36edd02a5
http://api.dataatwork.org/v1/jobs/90c5430dbc810aec8695af2f1f4c42e8
http://api.dataatwork.org/v1/jobs/1f8576bdffa64f492405d02b842c41a6
http://api.dataatwork.org/v1/jobs/8a7a3f1bce0958ae9f090683e5a925b7

In [17]:
data_job['Data Scientist']

'8a7a3f1bce0958ae9f090683e5a925b7'

In [18]:
#def filter_job(x) and replace job code for job name

def filter_job(dataframe, col, value):
    filter_job = dataframe[col] == value
    filtered_data = dataframe[filter_job]
       
    return filtered_data

In [54]:
filtered_data = filter_job(relevant_data, 'normalized_job_code', data_job['Data Scientist'])
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 206 to 9648
Data columns (total 4 columns):
uuid                   67 non-null object
age                    67 non-null int64
country_code           67 non-null object
normalized_job_code    67 non-null object
dtypes: int64(1), object(3)
memory usage: 2.6+ KB

In [57]:
##Replace job title

di_test = {'8a7a3f1bce0958ae9f090683e5a925b7': 'Data Scientist'}

filtered_data_test = filtered_data
#filtered_data_test.replace({'normalized_job_code': di_test})

filtered_data_test['normalized_job_code'].replace(di_test, inplace=True)

filtered_data_test

/home/sergio/miniconda3/envs/lab_env/lib/python3.7/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,uuid,age,country_code,normalized_job_code
206,78156750-d949-0133-1a02-0a81e8b09a82,21,BE,Data Scientist
214,92c27100-d9d0-0133-c4db-0a81e8b09a82,43,BE,Data Scientist
249,f30223b0-d950-0133-5b67-0a81e8b09a82,50,BE,Data Scientist
292,5bbb2320-db06-0133-c0ce-0a81e8b09a82,20,BE,Data Scientist
532,5f1b17e0-d97f-0133-f63f-0a81e8b09a82,38,CZ,Data Scientist
826,9746cbf0-dd28-0133-6b03-0a81e8b09a82,36,DE,Data Scientist
1008,3c437ba0-dd4d-0133-f96e-0a81e8b09a82,51,DE,Data Scientist
1025,50588d40-dd28-0133-6a98-0a81e8b09a82,44,DE,Data Scientist
1219,2d8ccc10-db17-0133-e957-0a81e8b09a82,48,DE,Data Scientist
1279,25865d60-df19-0133-3655-0a81e8b09a82,50,DE,Data Scientist
1458,ce5f6cc0-d990-0133-5c94-0a81e8b09a82,36,DE,Data Scientist
1719,f5e67ee0-dae4-0133-3957-0a81e8b09a82,49,DE,Data Scientist
1955,5f8e8e50-da88-0133-ebae-0a81e8b09a82,35,DE,Data Scientist
2114,390404a0-d999-0133-7e3a-0a81e8b09a82,25,DK,Data Scientist
2224,1f463ff0-d9ae-0133-8d7a-0a81e8b09a82,51,ES,Data Scientist
2233,980bf1e0-d999-0133-1842-0a81e8b09a82,47,ES,Data Scientist
2443,ee55a600-da1b-0133-ee4c-0a81e8b09a82,40,ES,Data Scientist
2471,387e3fe0-d967-0133-af12-0a81e8b09a82,35,ES,Data Scientist
2604,d5bb8920-d97b-0133-c996-0a81e8b09a82,27,ES,Data Scientist
2902,cac1d580-db9a-0133-a965-0a81e8b09a82,40,ES,Data Scientist
2986,cd0d2100-d8dd-0133-5cbe-0a81e8b09a82,23,ES,Data Scientist
3260,90fde2d0-d982-0133-76c8-0a81e8b09a82,44,FI,Data Scientist
3368,58c018c0-dbdd-0133-4934-0a81e8b09a82,43,FR,Data Scientist
3548,8e4bda50-d9a2-0133-fe05-0a81e8b09a82,44,FR,Data Scientist
3761,095d7c70-da73-0133-f27b-0a81e8b09a82,21,FR,Data Scientist
3926,072b4ea0-d988-0133-3ffe-0a81e8b09a82,16,FR,Data Scientist
3944,8cdee450-d8cf-0133-53d8-0a81e8b09a82,39,FR,Data Scientist
4306,0afc9c60-dcbc-0133-1992-0a81e8b09a82,48,FR,Data Scientist
4521,89a0cd40-da06-0133-0a1a-0a81e8b09a82,44,FR,Data Scientist
4678,2a0d7b00-da45-0133-962c-0a81e8b09a82,36,GB,Data Scientist
...,...,...,...,...
5798,8395c9f0-da33-0133-aac4-0a81e8b09a82,39,GR,Data Scientist
5809,67e0b790-dcb0-0133-a793-0a81e8b09a82,48,GR,Data Scientist
6323,bca737e0-da84-0133-dcb2-0a81e8b09a82,38,IE,Data Scientist
6398,df3022b0-dc9e-0133-cad7-0a81e8b09a82,27,IT,Data Scientist
6514,3d3b9920-dcb2-0133-953e-0a81e8b09a82,39,IT,Data Scientist
6559,8ce85740-d9a2-0133-fdfd-0a81e8b09a82,37,IT,Data Scientist
6568,bd0cd590-dbcd-0133-fa32-0a81e8b09a82,45,IT,Data Scientist
6654,8f8d6b70-d94b-0133-8adf-0a81e8b09a82,37,IT,Data Scientist
6697,9089e030-db01-0133-5272-0a81e8b09a82,32,IT,Data Scientist
6869,495acd90-d937-0133-ba24-0a81e8b09a82,33,IT,Data Scientist
6870,3b72bee0-da19-0133-a8fc-0a81e8b09a82,38,IT,Data Scientist
6943,2c531640-d8c9-0133-a195-0a81e8b09a82,29,IT,Data Scientist
7032,5f75e230-dad1-0133-47bf-0a81e8b09a82,47,IT,Data Scientist
7225,f575aa10-dd8d-0133-05ca-0a81e8b09a82,30,IT,Data Scientist
7459,15b06000-dcb3-0133-99dc-0a81e8b09a82,18,IT,Data Scientist
7627,da3aef30-da15-0133-9cdc-0a81e8b09a82,40,MT,Data Scientist
7692,47251fc0-dcc4-0133-f588-0a81e8b09a82,22,NL,Data Scientist
7758,d7b1e790-d952-0133-3ea8-0a81e8b09a82,51,NL,Data Scientist
7790,6149a010-d996-0133-71f7-0a81e8b09a82,32,NL,Data Scientist
7964,22b05950-da5f-0133-37d5-0a81e8b09a82,55,PL,Data Scientist
8293,3533e460-dd95-0133-2ee4-0a81e8b09a82,54,PL,Data Scientist
8843,fdada900-db4a-0133-dd31-0a81e8b09a82,44,PT,Data Scientist
8858,2cc47900-d972-0133-f65b-0a81e8b09a82,39,PT,Data Scientist
8932,13ce45b0-d970-0133-9107-0a81e8b09a82,45,PT,Data Scientist
9016,41b95510-d9c5-0133-2b03-0a81e8b09a82,52,PT,Data Scientist
9355,15688e50-da22-0133-e77a-0a81e8b09a82,35,SE,Data Scientist
9430,b9625100-dba6-0133-0e55-0a81e8b09a82,41,SE,Data Scientist
9595,79afc510-dd29-0133-6cd5-0a81e8b09a82,49,SK,Data Scientist
9637,d27da0a0-da1f-0133-fcdf-0a81e8b09a82,48,SK,Data Scientist
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51,SK,Data Scientist

In [20]:
def country_name_import(url):

    #Import table
    html = requests.get(url).content
    soup = BeautifulSoup(html, 'lxml')
    table = soup.find_all('td') 
    
    # Scrap countries list
    codes = [i.text.strip() for i in table]
    pre_codes_clean = [i for i in codes if i != ""]
    codes_clean = [re.sub(r'\b[()]|[()]\b', '', code) for code in pre_codes_clean]
    codes_clean[3] = codes_clean[3].replace('EL', 'GR')
    codes_clean[55] = codes_clean[55].replace('UK', 'GB')  
    
    #List to Dict
    countries_codes = {codes_clean[i]: codes_clean[i + 1] for i in range(0, len(codes_clean), 2)} 
    
    return countries_codes

In [21]:
#Replace country codes for country names
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
select_your_country = country_name_import(url)

In [22]:
print(select_your_country)

{'Belgium': 'BE', 'Greece': 'GR', 'Lithuania': 'LT', 'Portugal': 'PT', 'Bulgaria': 'BG', 'Spain': 'ES', 'Luxembourg': 'LU', 'Romania': 'RO', 'Czechia': 'CZ', 'France': 'FR', 'Hungary': 'HU', 'Slovenia': 'SI', 'Denmark': 'DK', 'Croatia': 'HR', 'Malta': 'MT', 'Slovakia': 'SK', 'Germany': 'DE', 'Italy': 'IT', 'Netherlands': 'NL', 'Finland': 'FI', 'Estonia': 'EE', 'Cyprus': 'CY', 'Austria': 'AT', 'Sweden': 'SE', 'Ireland': 'IE', 'Latvia': 'LV', 'Poland': 'PL', 'United Kingdom': 'GB', 'Iceland': 'IS', 'Norway': 'NO', 'Liechtenstein': 'LI', 'Switzerland': 'CH', 'Montenegro': 'ME', 'North Macedonia': 'MK', 'Albania': 'AL', 'Serbia': 'RS', 'Turkey': 'TR', 'Bosnia and Herzegovina': 'BA', 'Kosovo*[1]': 'XK[2])', 'Armenia': 'AM', 'Belarus': 'BY', 'Georgia': 'GE', 'Azerbaijan': 'AZ', 'Moldova': 'MD', 'Ukraine': 'UA', 'Algeria': 'DZ', 'Lebanon': 'LB', 'Syria': 'SY', 'Egypt': 'EG', 'Libya': 'LY', 'Tunisia': 'TN', 'Israel': 'IL', 'Morocco': 'MA', 'Jordan': 'JO', 'Palestine* [3]': 'PS', 'Russia': 'RU', 'Argentina': 'AR', 'China except Hong Kong': 'CN_X_HK', 'Mexico': 'MX', 'South Africa': 'ZA', 'Australia': 'AU', 'Hong Kong': 'HK', 'Nigeria': 'NG', 'South Korea': 'KR', 'Brazil': 'BR', 'India': 'IN', 'New Zealand': 'NZ', 'Taiwan': 'TW', 'Canada': 'CA', 'Japan': 'JP', 'Singapore': 'SG', 'United States': 'US'}

In [34]:
filtered_data_country = filter_job(relevant_data, 'country_code', select_your_country['Spain'])
filtered_data_country.head()

,uuid,age,country_code,normalized_job_code
2212,72a48100-da38-0133-487f-0a81e8b09a82,59,ES,7028f15ad274cb4d9505101b9c1306b1
2213,5329b030-d99c-0133-b04f-0a81e8b09a82,41,ES,a12a16280e22220f9354333f6fe1b22a
2214,50034b00-d90a-0133-a5e3-0a81e8b09a82,52,ES,e605336f5a43949cb6b18054fd1937f1
2215,8d7d6420-dc03-0133-856e-0a81e8b09a82,45,ES,0facaffe51cc1998a5fbdbe5fd18fd98
2216,d9a5f7a0-da3d-0133-c982-0a81e8b09a82,50,ES,a12a16280e22220f9354333f6fe1b22a

In [42]:
def quantity_func(col):
    return col.value_counts()

In [51]:
quantified_data = filtered_data.groupby(['country_code', 'normalized_job_code', 'age'])['normalized_job_code'].agg(quantity_func)
quantified_data.head(20)

country_code  normalized_job_code               age
BE            8a7a3f1bce0958ae9f090683e5a925b7  20     1
                                                21     1
                                                43     1
                                                50     1
CZ            8a7a3f1bce0958ae9f090683e5a925b7  38     1
DE            8a7a3f1bce0958ae9f090683e5a925b7  35     1
                                                36     2
                                                44     1
                                                48     1
                                                49     1
                                                50     1
                                                51     1
DK            8a7a3f1bce0958ae9f090683e5a925b7  25     1
ES            8a7a3f1bce0958ae9f090683e5a925b7  23     1
                                                27     1
                                                35     1
                                                40     2
                                                47     1
                                                51     1
FI            8a7a3f1bce0958ae9f090683e5a925b7  44     1
Name: normalized_job_code, dtype: int64

In [53]:
quantified_data_spain = filtered_data_country.groupby(['country_code', 'normalized_job_code', 'age'])['normalized_job_code'].agg(quantity_func)
quantified_data_spain.head(20)

country_code  normalized_job_code               age
ES            004431b0c1ce29ff6145307fa23f3f98  33     1
                                                38     1
                                                41     1
                                                55     1
              0044971fda4a261b6049a63817913e95  26     1
                                                35     1
                                                42     1
                                                45     1
              022d0e3a40aa3e29bca6851542b27842  64     1
              02e4c028f64f176de2f54bbc2f5403ce  30     1
              049a3f3a2b5f85cb2971ba77ad66e10c  25     1
                                                28     1
                                                39     2
                                                42     1
                                                44     1
                                                45     1
                                                49     2
                                                60     1
              04b0eaf624b2deb45ccd62cf6ec7c7bc  54     1
              04c27c76b463a917800549cf88a59961  43     1
Name: normalized_job_code, dtype: int64